@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);
}

:root {
  --background: #020617; /* slate-950 */
  --foreground: #f8fafc; /* slate-50 */
}

body {
  background: var(--background);
  color: var(--foreground);
}
